/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /* Insertar la variable de otros colores inspeccionando el ejemplo de figma */
    /*Haz un esfuerzo por trabajar con variables, es un valioso consejo profesional*/
   --color-de-fondo: #F5F5F5;
   --color-de-link: #000;
   --color-de-iconos: #2A7AE4;
   --color-de-about: #EAF2FD;
   --color-skills: #ffffff;
}

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    overflow-x: hidden;
    margin: 0px;
    line-height: 1;  
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-de-link);
}



/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu{
    background-color: var(--color-de-fondo);
    padding: 32px 0px;

}
/* seccion menu, propiedad es flex*/
.menu {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
}

.menu__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;  
}

.menu__header.img {
    size: 30px;
}

.menu__list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
}

.menu__list__item:nth-child(1),
.menu__list__item:nth-child(2),
.menu__list__item:nth-child(3),
.menu__list__item:nth-child(4),
.menu__list__item:nth-child(5) {
    display:flex;
}

.menu__list__item:nth-child(6) {
    font-weight: 600;
}

/*Sección Title*/

section.title{
    background-color: var(--color-de-fondo);
    padding: 152px 40px;

}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: flex-start;  
}

.title__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 60px;
}

.title__profile{
    align-items: center;

}

.title__bio{
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
}

.title__subsection{
    font-weight:300;
    font-size: 23px;
    line-height: 35px;
}

.title__network{
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}


/*Sección About*/

section.about{
    background-color: var(--color-de-about);
    padding: 60px;
}

.about__title{
    font-size: 32px;
}

.about__paragraph{
    font-size: 16px;
    font-weight: 100;
    padding-right: 30%;
    line-height: 26px;
}

/*Sección skills*/

.skills__title,
.hobbies__title,
.academic__title,
.experience__section__title {
    font-size: 30px;
    text-align: center;
    padding: 20px 0px;
}

.skills__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    gap: 20px;
}

.skills__box{
    background-color: var(--color-skills);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 0px;
    border-radius: 20px;
}

.skills__img {
    width: 20px;
}

.skills__name{
    font-size: 16px;
    padding-top: px;
}

/*Sección Hobbies*/

section.hobbies{
       
}

.hobbies__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px;
    gap: 25px;
}

.hobbies__box{
    background-color: var(--color-skills);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 0px;
    border-radius: 20px; 
}

.hobbies__img {
    width: 15px;
}

.hobbies__name{
    font-size: 13px;
    padding-top: 10px;
}

/* Experiencia Académica*/

section.academic{
    background-color: var(--color-de-about);
    padding: 30px 0px;
}

.academic__courses{
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;  
}

.academic__courses__box{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.academic__courses__list{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-start;
}
.academic__courses__item__img{
    background-color: var(--color-skills);
    margin: 0px;
    padding: 20px;
    border-radius: 20px; 
}

.academic__courses__item__title,
.academic__courses__item__subtitle{
    padding: 0px;
    margin: 0px;
    line-height: 5px;
}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */


/*Tablet*/
@media (max-width: 768px) {

/*Body*/
body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    overflow-x: hidden;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0px 0px;
    line-height: 1;
}

/* Menú */
section.menu{
    background-color: var(--color-de-fondo);
    align-items: center;
    padding: 20px 20px;
}

/*menu oculto en tablet y phone*/
.menu__list__item:nth-child(1),
.menu__list__item:nth-child(2),
.menu__list__item:nth-child(3),
.menu__list__item:nth-child(4),
.menu__list__item:nth-child(5) {
    display: none;
}

/*title*/

section.title{
    background-color: var(--color-de-fondo);
    padding: 60px;

}

.title__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.title__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title__profile{
    align-self: fcenter;
    width: 50%;

}

.title__bio{
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    line-height: 38px;
}

.title__subsection{
    font-weight:300;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.title__network{
    display: flex;
    flex-direction:row;
    justify-content: space;
    align-items: center;
    gap: 20px;
}

/*Sección About*/

section.about{
    background-color: var(--color-de-about);
    padding: 60px ;
}

.about__title{
    font-size: 32px;
}

.about__paragraph{
    font-size: 16px;
    font-weight: 100;
    padding-right: 0%;
    line-height: 26px;
}

/*Skills*/
.skills__title,
.hobbies__title,
.academic__title,
.experience__section__title {
    font-size: 25px;
    text-align: center;
    padding: 20px 0px;  
}

.skills__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.skills__box{
    background-color: var(--color-skills);
    width: 170px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-radius: 20px;
}

.skills__img {
    size: 5px;
}

.skills__name{
    font-size: 13px;
    padding-top: 10px;
}

/*Hobbies*/
section.hobbies{
       
}

.hobbies__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}

.hobbies__box{
    background-color: var(--color-skills);
    width: 170px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: 0px;
    border-radius: 20px; 
}

.hobbies__img {
    width: 15px;
}

.hobbies__name{
    font-size: 13px;
    padding-top: 10px;
}

/*Formación Académica*/

section.academic{
    background-color: var(--color-de-about);
    width: 100%;
    margin: 30px 0px;
    padding: 0px
}

.academic__courses{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
     
}

.academic__courses__box{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.academic__courses__list{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}

.academic__courses__item__img{
    background-color: var(--color-skills);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    size-adjust: ;

}

.academic__courses__item__title,
.academic__courses__item__subtitle{
    padding: 0px;
    margin: 0px;
    margin: 0px;
    line-height: 10px;
}

/*Experiencia Profesional*/

}

/*Mobile*/
/*@media (min-width: 425px) {

body {
    box-sizing: border-box;
    background-color: var(--color-de-fondo) ;
    font-family: 'Raleway';
    overflow-x: hidden;
    margin: 0;
    padding: 0px 50px;
    line-height: 1;
}

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}*/